{% extends "site/base.html" %}
{% block css %}
<link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static',filename='css/style.css')}}"
/>
<link
        rel="stylesheet"
        type="text/css"
        href="{{url_for('static',filename='css/posts_style.css')}}"
/>


{% endblock %}
{% block content %}
{% for post in posts %}
    <div class="post">
        <div class="post_title"><a href='{{url_for("posts.get_post",title=post.title)}}'>{{post.title}} </a></div>
        {% if post.description %}
        <div class="post_description">{{post.description}} </div>
        {% else %}
        <div class="post_description">This post doesn't contain description</div>
        {% endif %}
        <div class="post_author">{{post.author}} </div>
    </div>
{% endfor %}
{% endblock %}
