<html lang="en">
  <head>
      {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static',filename='css/style.css')}}"
    />
      {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    {% block title %} {% endblock %}
  </head>

  <body>
   <nav class="navbar">
       <div class="blog_title">
       <a href="{{url_for("main_page")}}">NeroIT</a>
       </div>
       <div class="right_navbar">
           <ul>
           <li><a href="{{url_for("posts.list_post")}}">Posts</a></li>
           <li><a href=#>HOME</a></li>
           <li><a href=#>Faq</a></li>
            {% if session["username"] %}
            <div>
            <ul class="dropdown">
                <li><a href=#>{{session["username"]}}</a></li>
                <li class="dropdown-element-1"><a href="">Profile</a></li>
                <li class="dropdown-element-2"><a href="{{url_for("logout")}}">Sign out</a></li>
            </ul>
            </div>
            {% else %}
            <li><a href="{{url_for("user.log_in")}}">Login</a></li>
            <li><a href="{{url_for("user.signup")}}">Register</a></li>
            {% endif %}
           </ul>
       </div>
   </nav>
      <div class="middle">
          {% block content %} {% endblock %}
      </div>
    </div>
    <footer></footer>
  </body>
</html>
