* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {

  /*background-color: #7d838c;*/
  background-color:white;

}

.navbar {
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  background-color: #333;
  color:white;
  width: 100%;
  border-bottom: 3px solid rgb(126, 126, 143);
}

.blog_title{
  margin: 1.5rem;
  font-size: 20px;
  font-weight: bold;
}

.right_navbar ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.right_navbar li{
  list-style: none;
}

.right_navbar li a{
  text-decoration:none;
  color:white;
  padding: 1rem;
  display: block;
}

a {
  color:inherit;
  text-decoration: none;
}

.dropdown {
  clear: both;
  position: relative;
  display:none;
}

.dropdown:hover .dropdown-element-1 a{
  display: block !important;
}

.dropdown:hover .dropdown-element-2 a{
  display: block !important;
}

.dropdown-element-1 a{
  white-space: nowrap;
  display: none !important;
  background-color: orange;
  top: 52px;
  right: 0px;
  width: 150%;
  padding: 20px !important;
  color: darkblue !important;
  position: absolute;
}
.dropdown-element-2 a{
  white-space: nowrap;
  display: none !important;
  background-color: orange;
  top: 102px;
  right: 0px;
  width: 150%;
  padding: 20px !important;
  color: darkblue !important;
  position: absolute;
}
