* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
}

nav {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid rgba(255, 102, 0, 0.822);
}

.logo-container {
  height: 80%;
  margin: 20px;
}

.hlinks {
  display: flex;
  color: rgba(255, 102, 0, 0.822);
  list-style: none;
  font-family: "Recursive", sans-serif;
}

.hlinks li {
  margin: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.right-nav {
  margin: 50px;
}

.page-mid {
  margin-top: 10px;
  background-color: white;
  height: 100%;
  width: 100%;
  position: relative;
}

.logo-img {
  height: 100%;
}

.bg-img-container {
  margin: auto;
  width: 80%;
  border: 3px solid green;
}
.bg-img {
  width: 100%;
}

.page-content {
  width: 60%;
  height: 90%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 20%;
  border-radius: 20px;
  margin: 20px;
  opacity: 0.9;
}

footer {
  height: 10vh;
  background-color: rgba(255, 102, 0, 0.822);
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
}

@media (max-width: 600px) {
  .hlinks li {
    font-size: 1.1rem;
  }
  .bg-img-container {
    display: none;
  }
  .page-content {
    width: 80%;
    height: 90%;
    left: 5%;
  }
}
