{% extends "site/base.html" %}
{% block content %}
<form action={{url_for("user.signup")}} method="post" style="max-width:480px;margin: auto">
    <h1>Please Sign In</h1>
    {{ form.csrf_token }}
    <div class="w-75">
        {{form.username(class="form-control")}}
    </div>
    <div class="w-75">
        {{form.password(class="form-control")}}
    </div>
    <div class="w-75">
        {{form.confirm_password(class="form-control")}}
    </div>
    <div class="form-group">
       {{form.submit(class="btn btn-primary")}}
    </div>
    {% for field in form.errors %}
    {% for error in form.errors[field] %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    {% endfor %}
</form>
{% endblock %}
